<?xml version="1.0"?>
<launch>

  <!-- Starting the example in the empty world scenario -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="paused" value="true"/>
  </include>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" 
	 command="$(find xacro)/xacro --inorder $(find robot1_description)/urdf/robot_nonhol.xacro" />


  <!-- launching the spawner and the controller for robot -->
  <param name="tf_prefix" value="robot1_tf" />
  	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model robot_nonhol -param robot_description -x 0 -y 0 -z 0.05"/>
	<node name="controller" pkg="spawn_example" type="testnode" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
