<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find node_counting_alg)/launch/world_init.launch">
    <arg name="world" value="world02" />
  </include>

  <!-- Spawn the robot -->

  <!-- Defining the namespaces of the ten robots -->
  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot1"/>
    <arg name="X" value="1"/>
    <arg name="Y" value="1"/>
    <arg name="Z" value="0.1"/>
  </include>

  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot2"/>
    <arg name="X" value="6"/>
    <arg name="Y" value="6"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot3"/>
    <arg name="X" value="-7"/>
    <arg name="Y" value="6"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot4"/>
    <arg name="X" value="8"/>
    <arg name="Y" value="-6"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot5"/>
    <arg name="X" value="2"/>
    <arg name="Y" value="-3"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot6"/>
    <arg name="X" value="3"/>
    <arg name="Y" value="2"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot7"/>
    <arg name="X" value="5"/>
    <arg name="Y" value="-4"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot8"/>
    <arg name="X" value="2"/>
    <arg name="Y" value="8"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot9"/>
    <arg name="X" value="2"/>
    <arg name="Y" value="-8"/>
    <arg name="Z" value="0.1"/>
  </include>


  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot10"/>
    <arg name="X" value="-4"/>
    <arg name="Y" value="-9"/>
    <arg name="Z" value="0.1"/>
  </include>




</launch>
