<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find node_counting_alg)/launch/world_init.launch">
    <arg name="world" value="world02" />
  </include>

  <!-- Spawn the robot -->

  <!-- Defining the namespaces of the two robots -->
  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot1"/>
    <arg name="X" value="1"/>
    <arg name="Y" value="1"/>
    <arg name="Z" value="0.1"/>
  </include>

  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot2"/>
    <arg name="X" value="6"/>
    <arg name="Y" value="6"/>
    <arg name="Z" value="0.1"/>
  </include>




</launch>
