<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
<include file="$(find node_counting_alg)/launch/world_init.launch">
    <arg name="world" value="world03" />
  </include>

  <!-- Spawn the robot -->

  <!-- Defining the namespaces of the ten robots -->
  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot1"/>
    <arg name="X" value="1"/>
    <arg name="Y" value="1"/>
    <arg name="Z" value="0.05"/>
    <arg name="pkg" value="node_counting_alg"/>
    <arg name="xacro_file" value="urdf/summit_mod.urdf.xacro"/>
    <arg name="xacro_name" value="summit_mod"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>

 

</launch>
