<?xml version="1.0"?>
<robot name="castor" 
	xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- Included files -->
	<xacro:include filename="$(find node_counting_alg)/urdf/components.gazebo"/>
	<xacro:include filename="$(find node_counting_alg)/urdf/materials.xacro" />

	<!-- _______________________________________________________ -->

	<!-- Create robot's base_link -->
	<xacro:base_link name="base_link" size_x = "0.4" size_y = "0.2" size_z = "0.1" mass="5"/>

	<!-- Create wheels -->

	<xacro:wheel_link name="link_front_wheel" mass="0.2"/>
	<xacro:omniwheel_joint name="joint_front_wheel" child="link_front_wheel" origin_xyz="0.15 0 0"/>

	<xacro:wheel_link name="link_lrear_wheel" mass="0.2"/>
	<xacro:wheel_joint name="joint_lrear_wheel" child="link_lrear_wheel" origin_xyz="-0.15 0.15 0"/>

	<xacro:wheel_link name="link_rrear_wheel" mass="0.2"/>
	<xacro:wheel_joint name="joint_rrear_wheel" child="link_rrear_wheel" origin_xyz="-0.15 -0.15 0"/>


	<!-- Create camera -->
	<xacro:sensor_link name="camera_link" color = "red"/>
	<xacro:sensor_joint name="camera_joint" child="camera_link" origin_xyz="-0.12 0 0.2" />

	<!-- Create laser -->
	<xacro:sensor_link name="laser_link" color = "blue"/>
	<xacro:sensor_joint name="laser_joint" child="laser_link" origin_xyz="0.12 0 0.2" />

	<!-- _______________________________________________________ -->

	<!-- 
	<gazebo>
		<plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
			<updateRate>	 100.0		  </updateRate>
			<leftFrontJoint> joint_lfront_wheel </leftFrontJoint>
			<rightFrontJoint>joint_rfront_wheel </rightFrontJoint>
			<leftRearJoint>	 joint_lrear_wheel </leftRearJoint>
			<rightRearJoint> joint_rrear_wheel </rightRearJoint>
			<wheelDiameter>	 0.2		  </wheelDiameter>
			<robotBaseFrame> base_link	  </robotBaseFrame>
			<torque>		 2			  </torque>
			<topicName>		 cmd_vel	  </topicName>
			<broadcastTF>	 1			  </broadcastTF>
		</plugin>
	</gazebo>
	-->

	<gazebo>
		<plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
			<alwaysOn>true</alwaysOn>
			<updateRate>100</updateRate>
			<leftJoint>joint_lrear_wheel</leftJoint>
			<rightJoint>joint_rrear_wheel</rightJoint>
			<wheelSeparation>0.4</wheelSeparation>
			<wheelDiameter>0.2</wheelDiameter>
			<torque>0.1</torque>
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<robotBaseFrame>base_link</robotBaseFrame>
			<rosDebugLevel>na</rosDebugLevel>
			<publishWheelTF>true</publishWheelTF>
			<publishWheelJointState>true</publishWheelJointState>
			<legacyMode>false</legacyMode>
			<wheelAcceleration>0.1</wheelAcceleration>
			<wheelTorque>5</wheelTorque>
			<odometrySource>world</odometrySource>
			<publishTf>1</publishTf>
		</plugin>
	</gazebo>

	<!--
	<gazebo>
		<plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<odometryRate>20.0</odometryRate>
			<robotBaseFrame>base_link</robotBaseFrame>
		</plugin>
	</gazebo>
	-->

	<!-- Camera plugin -->
	<xacro:camera_plugin name="front_camera" ref_link = "camera_link"/>

	<!-- Laser plugin -->
	<xacro:laser_plugin name="front_laser" ref_link = "laser_link"/>

</robot>
